﻿﻿<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Custom Google Map</title>

    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <!--<link rel="stylesheet" href="css/reset.css"> &lt;!&ndash; CSS reset &ndash;&gt;-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Resource style -->

    <script src="js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">

    <!-- JS -->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="js/modernizr.js"></script>

    <!-- Modernizr -->
    <!--ANGULAR CUSTOM-->
    <link rel="stylesheet" href="css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script src="js/app.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/controllers/reviewCtrl.js"></script>
    <script src="js/directives/reviewDirective.js"></script>
    <script src="js/directives/validationDirective.js"></script>
    <script src="js/services/reviewService.js"></script>

</head>

<body ng-app="app">

<div>
    <div ng-include="'include/navigation-bar.htm'"/>
</div>

<br/>
<br/>

<input id="searchTextField" class="controls" type="text"
       placeholder="Search for an address or place">

<!--<input id="searchTextField" type="text" size="50">-->

<section id="cd-google-map">
    <div id="google-container"></div>
    <div id="cd-zoom-in"></div>
    <div id="cd-zoom-out"></div>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl8UrwCupLjkdVfx_IXugrryC8ES32Cz8&language=iw&?v=3.exp&sensor=false&libraries=places"></script>
<script src="js/main.js"></script>
<!-- Resource jQuery -->

</div>
</body>
</html>
