<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Add New Review</h3>
    </div>

    <div class="modal-body">
        <form name="reviewForm" novalidate role="form">

            <div class="form-group" show-errors>
                <label for="googleMapsAddressForm">Address</label>
                <input type="text"
                       id="googleMapsAddressForm"
                       name="address"
                       ng-model="autocomplete"
                       class="form-control"
                       ng-autocomplete
                       details="googleMapsFormDetails"
                       options="googleMapsFormOptions"
                       placeholder="Enter location"
                       ng-required=true>
                <span class="help-block hide">Address is required</span>
            </div>

            <div class="form-group" show-errors>
                <div class="col-xs-3">
                    <label for="city">City</label>
                    <input type="text"
                           id="city"
                           name="city"
                           class="form-control"
                           ng-model="editableReview.city"
                           ng-disabled="reviewForm.address.$invalid"
                           placeholder={{googleMapsFormDetails.locality}}
                           ng-required='!googleMapsFormDetails.locality'>
                    <span class="help-block hide">Required</span>
                </div>
            </div>

            <div class="form-group" show-errors>
                <div class="col-xs-3">
                    <label for="street">Street</label>
                    <input type="text"
                           id="street"
                           name="street"
                           class="form-control"
                           ng-model="editableReview.street"
                           ng-disabled="reviewForm.address.$invalid"
                           placeholder={{googleMapsFormDetails.route}}
                           ng-required='!googleMapsFormDetails.route'>
                    <span class="help-block hide">Required</span>
                </div>
            </div>

            <div class="form-group" show-errors>
                <div class="col-xs-3">
                    <label for="streetNumber">Number</label>
                    <input type="text"
                           id="streetNumber"
                           name="streetNumber"
                           class="form-control"
                           ng-model="editableReview.street_number"
                           ng-disabled="reviewForm.address.$invalid"
                           placeholder={{googleMapsFormDetails.street_number}}
                           ng-required='!googleMapsFormDetails.street_number'>
                    <span class="help-block hide">Required</span>
                </div>
            </div>

            <div class="form-group" show-errors>
                <div class="col-xs-3">
                    <label for="apartmentNumber">Apt. Number</label>
                    <input type="text"
                           id="apartmentNumber"
                           name="apartmentNumber"
                           class="form-control"
                           ng-model="editableReview.apartmentNumber"
                           ng-disabled="reviewForm.address.$invalid"
                           placeholder={{googleMapsFormDetails.apartmentNumber}}
                           ng-required='!googleMapsFormDetails.apartmentNumber'>
                    <span class="help-block hide">Required</span>
                </div>
            </div>
            <br/><br/><br/><br/><br/>

            <div class="container col-sm-12">
                <div class="form-group" show-errors>
                    <label for="price" class="sr-only">Price (in dollars)</label>

                    <div class="input-group">
                        <div class="input-group-addon">₪</div>
                        <input type="number"
                               class="form-control"
                               id="price"
                               name="price"
                               placeholder="Price"
                               ng-model="editableReview.price"
                               min="0"
                               ng-required=true>
                    </div>
                    <span class="help-block hide">Price is required</span>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="floor">Floor</label>
                        <input type="number"
                               id="floor"
                               name="floor"
                               class="form-control"
                               ng-model="editableReview.floor"
                               min="0">
                    </div>

                    <div class="col-xs-3">
                        <label for="floors">out of</label>
                        <input type="number"
                               id="floors"
                               name="floors"
                               class="form-control"
                               ng-model="editableReview.outOfFloors"
                               min="0">
                    </div>

                    <div class="col-xs-3">
                        <label>Size (sqm)</label>
                        <input type="number"
                               id="size"
                               name="size"
                               class="form-control"
                               min="0"
                               ng-model="editableReview.size">

                    </div>
                </div>
            </div>
            <br/><br/><br/><br/><br/> <br/>

            <div class="container col-sm-12">
                <div class="form-group">
                    <label>Number Of Rooms</label>

                    <div>
                        <label class="radio-inline"><input type="radio" name="numberOfRooms" value="1"
                                                           ng-model="editableReview.numberOfRooms"/>1
                        </label>
                        <label class="radio-inline"><input type="radio" name="numberOfRooms" value="1.5"
                                                           ng-model="editableReview.numberOfRooms"/>1.5
                        </label>
                        <label class="radio-inline"><input type="radio" name="numberOfRooms" value="2"
                                                           ng-model="editableReview.numberOfRooms"/>2
                        </label>
                        <label class="radio-inline"><input type="radio" name="numberOfRooms" value="2.5"
                                                           ng-model="editableReview.numberOfRooms"/>2.5
                        </label>
                        <label class="radio-inline"><input type="radio" name="numberOfRooms" value="3"
                                                           ng-model="editableReview.numberOfRooms"/>3
                        </label>
                        <label class="radio-inline"><input type="radio" name="numberOfRooms" value="3.5"
                                                           ng-model="editableReview.numberOfRooms"/>3.5
                        </label>
                        <label class="radio-inline"><input type="radio" name="numberOfRooms" value="4"
                                                           ng-model="editableReview.numberOfRooms"/>4
                        </label>
                        <label class="radio-inline"><input type="radio" name="numberOfRooms" value="4.5"
                                                           ng-model="editableReview.numberOfRooms"/>5
                        </label>
                    </div>
                </div>
            </div>

            <div class="container col-sm-12">
                <div class="form-group">
                    <label>Additional Info</label>

                    <div>
                        <div class="checkbox-inline">
                            <input type="checkbox" value="renovated" ng-model="editableReview.renovated"/>Renovated
                        </div>
                        <div class="checkbox-inline">
                            <input type="checkbox" value="elevator" ng-model="editableReview.elevator"/>Elevator
                        </div>
                        <div class="checkbox-inline">
                            <input type="checkbox" value="airConditioning"
                                   ng-model="editableReview.airConditioning"/>Air Conditioning
                        </div>
                        <div class="checkbox-inline">
                            <input type="checkbox" value="balcony" ng-model="editableReview.balcony"/>Balcony
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="description" id="description" class="form-control" rows="2" cols="40"
                          ng-model="editableReview.description"></textarea>
            </div>

            <div class="form-group">
                <label>Images (recommended)</label>
                <input type="file" name="images" id="images" multiple crowd-file-model="listingImages"/>

            </div>
        </form>
    </div>

    <div class="modal-footer">
        <div class="col-sm-offset-6">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()"/>
            <input type="submit" class="btn btn-primary" value="Submit" ng-click="submitForm()"/>
        </div>
    </div>
</div>